<% layout("/layouts/boilerplate") %>
  <!-- <style>
    #filters{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }

    .filter{
      text-align: center;
      margin-right: 1.5rem;
      margin-top: 2rem;
      opacity: 0.7;
    }

    .filter:hover{
      opacity: 1;
      cursor: pointer;
    }

    .filter p {
      font-size: 0.8rem;
    }

    .tax-info{
      display: none;
    }

    .tax-toogle{
      border-radius: 2rem;
      height: 3.5rem;
      border: 1px solid grey;
      padding: 1rem;
      margin-left: 6rem;
      display: flex;
      align-items: center;
    }

  </style> -->
  <style>
    
    .filter-nav {
      display: flex;
      align-items: center;
      gap: 20px;
      flex-wrap: nowrap;
      overflow-x: auto;
      padding: 10px;
      background-color: #fff;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .filter-item {
      flex: 0 0 auto;
      margin: 0 10px;
      text-align: center;
      cursor: pointer;
    }

    .filter-item img {
      width: 24px;
      height: 24px;
      margin-bottom: 10px;
    }

    .filter-item p {
      display: block;
      font-size: 14px;
      font-weight: 500;
    }

    .filter-item img:hover, .filter-item p:hover{
      opacity: 0.5;
    }

    .filter-nav::-webkit-scrollbar {
      display: none;
    }
  </style>
  </head>

  <body>
    <div class="container d-flex mt-4">
      <div class="filter-nav">
        <div class="filter-item"><img src="/images/trending.jpg" alt="">
          <p>Trending</p>
        </div>
        <div class="filter-item"> <img src="/images/rooms.jpg" alt="">
          <p>Room</p>
        </div>
        <div class="filter-item"><img src="/images/countryside.jpg" alt="">
          <p>Country Side</p>
        </div>
        <div class="filter-item"><img src="/images/artic.jpg" alt="">
          <p>Artics</p>
        </div>
        <div class="filter-item"><img src="/images/beach.jpg" alt="">
          <p>Beachs</p>
        </div>
        <div class="filter-item"><img src="/images/beachfront.jpg" alt="">
          <p>Beach Front</p>
        </div>
        <div class="filter-item"><img src="/images/cabins.jpg" alt="">
          <p>Cabins</p>
        </div>
        <div class="filter-item">
          <img src="/images/camping.jpg" alt="">
          <p>Camping</p>
        </div>
        <div class="filter-item">
          <img src="/images/castles.jpg" alt="">
          <p>Castles</p>
        </div>
        <div class="filter-item">
          <img src="/images/cve.jpg" alt="">
          <p>Cave</p>
        </div>
        <div class="filter-item">
          <img src="/images/desert.jpg" alt="">
          <p>Deserts</p>
        </div>
        <div class="filter-item">
          <img src="/images/design.jpg" alt="">
          <p>Design</p>
        </div>
        <div class="filter-item">
          <img src="/images/domes.jpg" alt="">
          <p>Domes</p>
        </div>
        <div class="filter-item">
          <img src="/images/farms.jpg" alt="">
          <p>Farms</p>
        </div>
        <div class="filter-item">
          <img src="/images/golfing.jpg" alt="">
          <p>Golfing</p>
        </div>
        <div class="filter-item">
          <img src="/images/historical.jpg" alt="">
          <p>Historical Houses</p>
        </div>
        <div class="filter-item">
          <img src="/images/island.jpg" alt="">
          <p>Islands</p>
        </div>
        <div class="filter-item">
          <img src="/images/lake.jpg" alt="">
          <p>Lakes</p>
        </div>
        <div class="filter-item">
          <img src="/images/lakefront.jpg" alt="">
          <p>Lake front</p>
        </div>
        <div class="filter-item">
          <img src="/images/luxe.jpg" alt="">
          <p>Luxe</p>
        </div>
        <div class="filter-item">
          <img src="/images/mansions.jpg" alt="">
          <p>Mansions</p>
        </div>
        <div class="filter-item">
          <img src="/images/nationalparks.jpg" alt="">
          <p>National Parks</p>
        </div>
        <div class="filter-item">
          <img src="/images/pool.jpg" alt="">
          <p>Amazing Pools</p>
        </div>
        <div class="filter-item">
          <img src="/images/sking.jpg" alt="">
          <p>Skiing</p>
        </div>
        <div class="filter-item">
          <img src="/images/tinyhome.jpg" alt="">
          <p>Tiny Homes</p>
        </div>
        <div class="filter-item">
          <img src="/images/treehouse.jpg" alt="">
          <p>Tree House</p>
        </div>
        <div class="filter-item">
          <img src="/images/tropical.jpg" alt="">
          <p>Tropical</p>
        </div>
        <div class="filter-item">
          <img src="/images/views.jpg" alt="">
          <p>Amazing Views</p>
        </div>
      </div>
      <div class="tax-toogle">
        <div class="form-check-reverse form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
          <label class="form-check-label" for="flexSwitchCheckDefault">Displat total after taxes</label>
        </div>
      </div>
    </div>


    <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-1 mt-3">
      <% for(let listing of allListings) { %>
        <a href="/listings/<%= listing._id%>">
          <div class="card listing-card col">
            <img src="<%= listing.image.url %>" class="card-img-top" alt="listings_image" style="height: 20rem;">
            <div class="card-img-overlay"></div>
            <div class="card-body">
              <p class="card-text">
                <b>
                  <%= listing.title %>
                </b><br>
                &#8377;<%= listing.price.toLocaleString("en-IN") %>/night
                  <i class="tax-info">&nbsp; &nbsp; +18% GST</i>
              </p>
            </div>
          </div>
        </a>
        <% } %>
    </div>


    <script>
      let taxScwitch = document.getElementById("flexSwitchCheckDefault");
      taxScwitch.addEventListener("click", () => {
        let taxInfo = document.getElementsByClassName("tax-info");
        for (info of taxInfo) {
          if (info.style.display != "inline") {
            info.style.display = "inline";
          } else {
            info.style.display = "none";
          }
        }
      })
    </script>